<!-- <app-header [titulo] = 'title'></app-header> -->

<app-carrito-table [columnNames]='columnNames' [columnValues]='columnValues'
(deleteItemEvent)='deleteProduct($event)'></app-carrito-table>

<div class="row">
<div class="text-center col-sm-6">
    <button type="submit" class="btn btn-primary col-sm-3" id='comprar' (click)="meLoLlevo()" >Me lo llevo</button>
    <button type="submit" class="btn btn-secondary col-sm-3" id='cancelar' (click)="limpiarCarrito()">Limpiar Todo</button>
</div>
</div>
