<div class="col-md-12">
    <table class="table text-center">
        <thead>
            <h2>Carrito</h2>
            <tr>
             
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tablaCarrito">
           
            <tr *ngFor='let producto of Items' >
                <td >{{producto.Nombre}}</td>
                <td>{{producto.Descripcion}}</td>
                <td>$ {{producto.Precio}}</td>
                <td>{{producto.Cantidad}}</td>     
                <td>$ {{producto.Total}}</td>           
                <td><a (click)='quitarProducto(producto)' href='/carrito'><i class="fas fa-trash-alt"></i></a></td>
                <td></td>
        </tbody>
    </table>
    <label>Total: $</label>
    <label id='precio'>0.00</label>
</div>

<div class="row">
<div class="text-center col-sm-6">
    <button type="submit" class="btn btn-primary col-sm-3" id='comprar' onclick="meLoLlevo()" >Me lo llevo</button>
    <button type="submit" class="btn btn-secondary col-sm-3" id='cancelar' onclick="limpiarCarrito()">Limpiar Todo</button>
</div>
</div>
