<div class="container-fluid pt-2" *ngIf="EstadoForm == 'L'">

  <div class="row">
    <div class="col-md-12">
      <table class="table text-center ">
        <thead>
          <h2>Productos</h2>
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody id="tablaProductos">
          <tr *ngFor='let producto of Items'>
            <td>{{producto.nombre}}</td>
            <td>{{producto.descripcion}}</td>
            <td>$ {{producto.precio}}</td>
            <td><input type="number" class='text-center' id="cant-{{producto.idArticulo}}" min="1" max="100"></td>
            <td> <a (click)='agregarProducto(producto)'> <i class="fas fa-plus"></i></a></td>
            <td></td>
          </tr>


        </tbody>
      </table>

      <a name="agregar" id="agregar" class="btn btn-primary" (click)="agregar()" role="button">Agregar Nuevo
        Producto</a>
    </div>
  </div>
</div>

<div class="container-fluid pt-2" *ngIf="EstadoForm == 'E'">
  <form name='FormReg' [formGroup]='FormReg'>


    <div class="form-group">
      <label for="">Nombre</label>
      <input type="text" formControlName='nombreProd' class="form-control" placeholder="Nombre"
        aria-describedby="helpId">
      <small id="helpId" class="text-muted">*</small>
    </div>

    <div class="form-group">
      <label for="">Descripción</label>
      <input type="text" formControlName='descProd' class="form-control" placeholder="Descripcion"
        aria-describedby="helpId">
      <small id="helpId" class="text-muted">*</small>
    </div>

    <div class="form-group">
      <label for="">Precio</label>
      <input type="number" formControlName='precioProd' class="form-control" placeholder="$$" aria-describedby="helpId">
      <small id="helpId" class="text-muted">Help text</small>
    </div>

    <button type="submit" class="btn btn-primary" (click)="guardar()">Guardar</button>
    <a name="" id="" class="btn btn-primary" (click)='volver()' role="button">Volver</a>



  </form>
  


</div>
